*{
    font-family: Fira Sans;
        margin: 0;
        padding: 0;
        }
    
        body{
            background: rgb(232, 238, 236);
    
        }
    
    nav{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }
    
    .title1{
        color: rgb(14, 14, 14);
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-align: left;
        margin-left: 160px;
    }
    
    .signIn{
        color: rgb(0, 106, 80);
        font-size: 18px;
        font-weight: 600;
        text-align: left;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    margin-right: 160px ;
       }
    
    .signIn:hover{
        background-color: rgb(0, 106, 80);
        color:white;
    }
    
    .banner{
        display: flex;
        background-color: rgb(198, 228, 214);
        min-height: 560px; 
        margin: 0px 160px 80px;
        border-radius: 24px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .writings{
        padding-left: 60PX;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 60px;
    
    width: 40%;
    
    }
    
    #wt1{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    }
    
    #wt2{
        color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
    }
    
    #wt3{
        width: 270px ;
        color: rgb(255, 255, 255);
        font-size: 18px;
        border-radius: 8px;
        background-color: rgb(0, 106, 80);
        text-align: center;
        padding:17px 34px;
    
    }
    
    
    .bImg{
        padding-top: 50px;
        padding-bottom: 50px;
    padding-right: 60px;
    padding-left: 60px;
    } 
    
    /* ------------------------------------- */

    .part2{
        margin: 0px 160px 32px;
    }
    
    #title2{
        color: rgb(14, 14, 14);
        font-size: 40px;
        margin-bottom: 24px;
    }
    
    #info{
        color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    }
    
    .cards{       
        display: flex;
        margin: 0px 160px;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 48px;
    }
    
    .vision {
        
        border-radius: 16px;
        text-align: left;
        padding: 32px;
        max-width: 410px;
    }
    
   
    #vision1 {
        border-radius: 16px;
        background-color: rgba(84, 144, 245, 0.2);
    }
    #vision2 {
        border-radius: 16px;
    background-color: rgb(198, 228, 214);
    }
    #vision3 {
        border-radius: 16px;
    background-color: rgb(247, 235, 207); 
    }
    
  
    .vision img {
        width: 50px;
        margin-bottom: 25px;
    }
    
    .vision h4 {
        color: #333;
        font-size: 20px;
        margin-bottom: 12px;
    }
    
    .vision p {
        font-size: 16px;
        margin-bottom: 48px;
    }
    
    .LMbutton {
        display: inline-block;
        background-color: #007BFF;
        color: #fff;
        padding: 11px 20px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
    }
    
    #vision1 .LMbutton {
        border-radius: 8px;
    background-color: rgb(84, 144, 245);
    }
    
    #vision2 .LMbutton {
        border-radius: 8px;
    background-color: rgb(9, 161, 92);
    }
    
    #vision3 .LMbutton {
        border-radius: 8px;
    background-color: rgb(255, 194, 57);
    }
    
    
    #vision1 .LMbutton:hover {
        color: rgb(5, 65, 170);
        background-color: #ffffff;
    }
    #vision2 .LMbutton:hover {
        color: rgb(0, 119, 16);
        background-color: #ffffff;
    }
    #vision3 .LMbutton:hover {
        color: rgb(204, 145, 7);
        background-color: #ffffff;
    }
    
    /* --------------------------------------------------------------------- */
    
    .clng1{
        margin: 0px 160px;
        border-radius: 16px;
        background-color: white;
        margin-bottom: 80px;
        background-image: url(assets/quote-bg.png);
        background-repeat: no-repeat;
    background-position: 24px 19.5px;
        padding: 48px 24px;
    }
    
    .clng1 h2{
        color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 4px;
    }
    
    .clng1 p{
        color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }
    
    #quote{
        font-size: 16px;
    font-weight: 400;
    line-height: 24px;
        color: rgba(14, 14, 14, 0.8);
        margin-bottom: 12px;
    }


    /* ------------------ */
    
    .news{
        margin: 0px 160px;
        background-color: white;
        padding: 48px;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        margin-bottom: 24px;
        border-radius: 24px;
    }
    
    
    .news h2{
        color: rgba(14, 14, 14, 0.8);
        font-size: 32px;
        margin-bottom: 12px;
    }

    .article1{
        margin: 0px 160px 32px;
    }
    
    .nDetails img{
        min-height: 40px;
        margin-bottom: 12px;
    }
    
    .DateTime{
        color: rgba(14, 14, 14, 0.7);
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content:flex-start;
        gap: 12px;
        margin-bottom: 12px;
    }
    
    .news p{
        color: rgba(14, 14, 14, 0.7);
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 45px;
    }
    .news a{
        text-decoration: none;
        color: white;
        border-radius: 8px;
        background-color: rgb(0, 106, 80);
        padding: 13px 26px;
    }
    
    .news a:hover{
        background-color: rgb(0, 143, 199);
        color: rgb(255, 255, 255);
    }
    
    .nImg img{
    border-radius: 24px;
    }

    /* ----------------------------------------------------------------------------- */

    .donate{
        margin: 80px 160px 0px;
    }
    
    .donate h1{
        font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
    }
    
    .donate p{
        color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom:32px ;
    }
    
    .amount{
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 32px ;
    }
    
    .amount button{
        padding: 40px;
        background-color: white;
        text-align: center;
        border: none;
    
    font-size: 40px;
    font-weight: 700;
    border-radius: 16px;
    }
    
    .amount .tk200{
        background-color: rgb(198, 228, 214);
    }
    
    .amount button:hover{
        background-color: rgb(161, 212, 163);
    
    cursor: pointer;
    }
    
    .otherTk{
        margin-top: 32px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .otherTk input[type=text]{
        width: 1032px;
        height: 64px;
        text-align: center;
        font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    }
    
    .otherTk input[type=submit]{
        border: none;
        color: rgb(255, 240, 240);
        border-radius: 8px;
        background-color: rgb(0, 106, 80);
        padding: 13px 26px;
        height: 56px;
        margin-bottom: 80px;
        font-size: 18px;
    font-weight: 600;
    }
    
    .otherTk input[type=submit]:hover{
        background-color: rgb(131, 189, 255);
        color: rgb(0, 11, 58);
        cursor: pointer;
    }

    /* ----------------------- */
    /* challenge2 */

    
.clng2{
    margin: 0px 160px;
    background-color: rgb(198, 228, 214);
    margin-bottom: 80px;
    text-align: center;
    padding: 80px 100px;
}

.clng2 h1{
    font-size: 40px;
font-weight: 700;
text-align: center;
margin-bottom: 16px;
}

.clng2 p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
text-align: center;
}

.subEmail{
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    gap: none;
}

.subEmail input[type=text]{
border: none;
padding: 18px 40px;
width: 600px;
border-radius: 8px 0px 0px 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.subEmail input[type=submit]{
    background-color: rgb(0, 106, 80);
    width: 150px;
    border-radius: 0px 8px 8px 0px;
    padding: 17px 34px 17px 34px;
    border: none;
font-size: 18px;
font-weight: 600;
line-height: 22px;
color: white;
}

.subEmail input[type=submit]:hover{
    background-color: rgb(255, 156, 242);
    color:rgb(0, 0, 0);
    cursor: pointer;
}
